.diskSpaceIndicator {
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  background-color: rgb(15, 10, 42);
}

.diskSpaceIndicator .label {
  color: #c1bebe;
  font-size: 1rem;
  padding: 5px;
}

.usageGauge {
  width: 200px;
  height: 100px; 
  position: relative;
  margin: 20px auto; 
}

.usageInfo .percentage {
  font-size: 2rem;
  color: white;
  /* align-items: center; */
  padding-left: 70px;
  margin-bottom: 5px;
}

.usageInfo {
  padding-top: 25px;
}

.usageInfo .label {
  color: #aaa;
  font-size: 0.9rem;
  padding-left: 55px;
  width: 100%;
}

.diskCleanerButton {
  background: linear-gradient(90deg, rgb(46, 155, 174) 0%, rgb(117, 13, 207) 50%, rgb(200, 62, 235) 100%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
  width: 100%;
}

.emojiContainer {
  font-size: 4rem; /* Adjust the size of the emoji as needed */
  width: 50px; /* Set a specific width if necessary */
  height: 50px; /* Set a specific height if necessary */
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* If you want it rounded like an image */
  overflow: hidden; /* Ensures nothing spills outside the border-radius */
  background: #000; /* Or any background styling you want */
}